on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - run: sudo add-apt-repository ppa:vala-team
    - run: sudo apt-get update
    - run: sudo apt-get install python3-setuptools valac libvala-0.56-dev libgee-0.8-dev libjsonrpc-glib-1.0-dev gobject-introspection libgirepository1.0-dev ninja-build
    - run: sudo pip3 install meson
    - run: meson build
    - run: ninja -C build
    - uses: elementary/actions/vala-lint@master
      with:
        conf: .vala-lint.conf
        fail: false
